include README.md
include QUICKSTART.md
include LICENSE
recursive-include loom/migrations *.sql
recursive-exclude tests *
recursive-exclude examples *
recursive-exclude __pycache__ *
recursive-exclude *.pyc *
